body {
    display: flex;
    align-items: flex-start;
}

.blue {
    background-color: blue;
    padding: 20px;
}

.yo {
    background-color: yellow;
    padding: 20px;
    margin: 10px;
}

.red {
    background-color: yellow;
    padding-right: 80px;
}

.green{
    background-color: yellow;
    padding-bottom: 80px;
}

.flex{
    display: flex;
}